@tailwind base;
@tailwind components;
@tailwind utilities;



.slick-slide > div{
    margin-left: 10px;
}

html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
    }

    
    .swiper-pagination{
        position:sticky!important;
        padding: 20px 0px;
        background-color: white;
        width: 100%;
     bottom: -10px!important;
        z-index: 20!important;
    }
    .swiper-pagination-bullet {
    width: 20px!important;
    height: 20px!important;
    text-align: center!important;
    line-height: 20px!important;
    font-size: 12px!important;
    color: black!important;
    background: #e11a1a75!important;
  }
  
  .swiper-pagination-bullet-active {
    color: #fff!important;
    background: #FF3B00!important;
  }