@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin-left: 10px;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.swiper-pagination {
  position: sticky !important;
  padding: 20px 0px;
 
  width: 100%;
  bottom: -10px !important;
  z-index: 20 !important;
}
.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center !important;
  line-height: 20px !important;
  font-size: 12px !important;
  color: black !important;
  background:white !important;
  opacity: 100% !important;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #ff3b00 !important;
}

.react-datepicker-popper
{
  z-index: 9999!important;
 font-size: 5px!important;
 background-color: blue;
}
react-datepicker-wrapper



.countryselector option{  
  font-size: 8px;
}
@media only screen and (min-width: 425px) {
  .countryselector option {
    font-size: 16px;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}